<p>Hello <strong>{{name}}</strong>,</p>
<p>You've been invited to manage <strong>{{business}}</strong> in Applausio.</p>
<p>Please click on the link below to accept the invitation and start planning
  events!</p>
<p>
  <a href='{{url}}'>Accept invitation</a>
</p>
